<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<style>
			h1{
				color: yellow;
			}
		</style>
	</head>
	<body>
		<h1 th:text="${heading}">전달받은 값 출력</h1>
		<h3>사용자가 입력한 유저정보</h3>
		<table border =1 cellspacing=0>
			<tr><td>name</td>
				<td th:text="'name: '+${userDTO.getUserName()}"></td>
			</tr>
			<tr><td>id</td>
				<td th:text="'id: '+${userDTO.getUserId()}"></td>
			</tr>
			<tr><td>phond</td>
				<td th:text="'phone: '+${userDTO.getUserPhone()}"></td>
			</tr>
		</table>
	</body>
</html>