<html xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset = "utf-8">
		<style>
			td, th{
				border: 1px solid brown;
				text-align: center;
				padding:10px;
			}
			tbody tr:nth-child(even){
				background-color: green;
				color: #fff;
			}
			thead th:nth-child(odd){
				background-color: purple;
				color: #fff;
			}
		</style>
	</head>
	<body>
		<h1>Thymeleaf Board Table</h1>
		<table border=1 cellspacing=0>
			<tr>
				<th>num</th><th>title</th><th>name</th>
			</tr>
			<tr th:object="${boardDTO}">
				<td th:text="*{num}"></td>
				<td th:text="*{btitle}"></td>
				<td th:text="*{bname}"></td>
			</tr>
		</table><br>
		<h1>Thymeleaf Board Table2</h1>
		<table border=1 cellspacing=0>
			<tr>
				<th>num</th><th>title</th><th>name</th>
			</tr>
			<tr th:each="b : ${bList}">
				<td th:text="${b.num}"></td>
				<td th:text="${b.btitle}"></td>
				<td th:text="${b.bname}"></td>
			</tr>
		</table>
	</body>
</html>
	